node_modules/


.next/
frontend/.next/
out/

backend/dist/

.env
.env.local
backend/.env
frontend/.env.local
frontend/.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

*.tsbuildinfo

.vercel
