{
  "openapi": "3.0.3",
  "info": {
    "title": "Brillar Agent Scheduling API",
    "description": "Appointment APIs for **`installation`** (fibre/router install tied to a **subscription**) and **`home_service`** (general on-site visits). Mirrors **`/api/appointments/*`** route behaviour but uses **`/api/agent/*`** paths for agents.\n\n• **Installation:** requires **`subscriptionId`** from **`POST /api/agent/buy-plan`** → `subscription.id`.\n• **Slots:** identical data to `GET /api/appointments/slots`; agent route is **`POST /api/agent/appointment-slots`** with **`userId`** in body.\n\n**Agent POST convention:** Protected agent endpoints use **POST** with **`userId`** in the JSON body where noted. Backend resolves **`JWT userId` OR `body.userId`**.\n\n**Not under `/api/agent/*`:** ISP team and admin update visit status with **`PATCH /api/appointments/{id}/status`** (Approve / Complete / Cancel). Conversational storefront agents typically do not call that endpoint; expose it separately if your tool needs provisioning workflows.",
    "version": "1.3.0",
    "contact": {
      "name": "Brillar API Support",
      "email": "api-support@brillarbroadband.com"
    }
  },
  "servers": [
    {
      "url": "https://api-brillarbroadband.atenxion.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/agent/appointment-slots": {
      "post": {
        "summary": "Available slots (next 7 days)",
        "description": "Same slot data as **`GET /api/appointments/slots`**. Agent tools must **POST** with **`userId`** in the body (slot availability is global; `userId` is required for agent context). Each date has **`morning`** (9am–1pm) and **`afternoon`** (1pm–5pm); max **5** bookings per window.",
        "tags": ["Public – Slots"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentUserIdBody" },
              "example": { "userId": "664a1b2c3d4e5f6a7b8c9d0f" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Available slots returned successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SlotsResponseRaw" },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "date": "2026-05-13",
                      "windows": [
                        { "timeSlot": "morning", "booked": 3, "available": 2, "isFull": false },
                        { "timeSlot": "afternoon", "booked": 5, "available": 0, "isFull": true }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/schedule-appointment": {
      "post": {
        "summary": "Create installation or home-service appointment",
        "description": "Same handler as **`POST /api/appointments`**. Include **`userId`** in the body for agent tools (backend uses JWT `userId` OR `body.userId` for the booking customer).\n\n**Installation:** `\"type\":\"installation\"` and **`subscriptionId`** (Mongo id from **`buy-plan`**) required; subscription must be **`Pending`** and belong to caller.\n\n**Home service:** omit type or send **`home_service`**; **`subscriptionId`** not used.",
        "tags": ["Protected – Scheduling"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`Bearer <token>` — **`customer`** role for create.",
            "schema": { "type": "string", "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..." }
          }
        ],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAppointmentBody" },
              "examples": {
                "installation": {
                  "summary": "Fibre installation after purchase",
                  "value": {
                    "userId": "664a1b2c3d4e5f6a7b8c9d0f",
                    "type": "installation",
                    "subscriptionId": "664a1b2c3d4e5f6a7b8c9d0e",
                    "scheduledDate": "2026-05-15",
                    "timeSlot": "morning",
                    "notes": "Please call before arrival."
                  }
                },
                "homeService": {
                  "summary": "Generic home visit",
                  "value": {
                    "userId": "664a1b2c3d4e5f6a7b8c9d0f",
                    "type": "home_service",
                    "scheduledDate": "2026-05-16",
                    "timeSlot": "afternoon",
                    "notes": "WiFi optimisation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment created. Status is 'Pending' until approved by the ISP team.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateAppointmentResponseRaw" },
                "example": {
                  "success": true,
                  "message": "Installation appointment scheduled successfully.",
                  "appointment": {
                    "_id": "674a1b2c3d4e5f6a7b8c9d10",
                    "customerId": "664a1b2c3d4e5f6a7b8c9d0f",
                    "type": "installation",
                    "subscriptionId": "664a1b2c3d4e5f6a7b8c9d01",
                    "scheduledDate": "2026-05-15",
                    "timeSlot": "morning",
                    "notes": "Please call before arrival.",
                    "status": "Pending",
                    "approvedAt": null,
                    "completedAt": null,
                    "cancelledAt": null,
                    "createdAt": "2026-05-12T10:00:00.000Z",
                    "updatedAt": "2026-05-12T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation (date window, pending subscription rules, missing `subscriptionId` for installation, etc.)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "scheduledDate and timeSlot (morning|afternoon) are required." }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "Authentication required." }
              }
            }
          },
          "403": {
            "description": "Non-customer attempted book or subscription ownership mismatch",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "Only customers can book appointments." }
              }
            }
          },
          "404": {
            "description": "Subscription not found / not owned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "Subscription not found." }
              }
            }
          },
          "409": {
            "description": "Slot full or duplicate installation booking for subscription",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "This time slot is fully booked. Please choose another." }
              }
            }
          }
        }
      }
    },
    "/api/agent/my-appointments": {
      "post": {
        "summary": "List appointments visible to caller",
        "description": "**Customers** see **only their** appointments. **`admin`** and **`isp_team`** see **all** visits (installation + home service).\nMatches **`GET /api/appointments`**. Agent tools must **POST** with **`userId`** in the body. Each doc includes **`type`**, **`subscriptionId`** when set, optionally populated **`customerId`** / **`subscriptionId`** subtrees.",
        "tags": ["Protected – Scheduling"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..." }
          }
        ],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentUserIdBody" },
              "example": { "userId": "664a1b2c3d4e5f6a7b8c9d0f" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointments returned successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AppointmentListResponseRaw" },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "_id": "664a1b2c3d4e5f6a7b8c9d0e",
                      "type": "installation",
                      "subscriptionId": {
                        "_id": "664a1b2c3d4e5f6a7b8c9d01",
                        "status": "Scheduled",
                        "planId": {
                          "name": "Fibre Pro 500",
                          "downloadSpeedMbps": 500,
                          "monthlyPrice": 49.99
                        }
                      },
                      "scheduledDate": "2026-05-15",
                      "timeSlot": "morning",
                      "notes": "Please call before arrival.",
                      "status": "Approved",
                      "createdAt": "2026-05-11T08:00:00.000Z",
                      "updatedAt": "2026-05-12T09:00:00.000Z",
                      "approvedAt": "2026-05-12T09:30:00.000Z",
                      "completedAt": null,
                      "cancelledAt": null,
                      "customerId": {
                        "name": "John Doe",
                        "email": "john@example.com",
                        "phone": "+65 9123 4567",
                        "serviceZone": {
                          "country": "Singapore",
                          "district": "Jurong East",
                          "postalCode": "609606"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing userId in JWT and request body (customer role)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "userId is required in request body." }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiErrorMessage" },
                "example": { "message": "Authentication required." }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AgentUserIdBody": {
        "type": "object",
        "required": ["userId"],
        "properties": {
          "userId": {
            "type": "string",
            "description": "MongoDB `_id` of the customer. Required for agent tools. Backend resolves JWT `userId` OR `body.userId` (token takes precedence)."
          }
        }
      },
      "ApiErrorMessage": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": { "type": "string", "description": "Human-readable error (Express handlers use this shape)." }
        }
      },
      "SlotWindow": {
        "type": "object",
        "properties": {
          "timeSlot": { "type": "string", "enum": ["morning", "afternoon"] },
          "booked": { "type": "integer" },
          "available": { "type": "integer" },
          "isFull": { "type": "boolean" }
        }
      },
      "DaySlot": {
        "type": "object",
        "properties": {
          "date": { "type": "string", "format": "date" },
          "windows": { "type": "array", "items": { "$ref": "#/components/schemas/SlotWindow" } }
        }
      },
      "SlotsResponseRaw": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/DaySlot" } }
        }
      },
      "CreateAppointmentBody": {
        "type": "object",
        "required": ["userId", "scheduledDate", "timeSlot"],
        "properties": {
          "userId": {
            "type": "string",
            "description": "MongoDB `_id` of the customer booking the visit. Required for agent tools."
          },
          "type": {
            "type": "string",
            "enum": ["installation", "home_service"],
            "default": "home_service",
            "description": "Use **`installation`** for post-checkout router install (**requires subscriptionId**)."
          },
          "subscriptionId": {
            "type": "string",
            "description": "**Required when type is `installation`.** Returned as **`subscription.id`** from **`POST /api/agent/buy-plan`**."
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD within the next **7** days starting tomorrow."
          },
          "timeSlot": {
            "type": "string",
            "enum": ["morning", "afternoon"]
          },
          "notes": { "type": "string", "default": "" }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "type": { "type": "string", "enum": ["installation", "home_service"] },
          "subscriptionId": {
            "nullable": true,
            "description": "After **create**, Mongo id string when not populated. After **list**, may be an object with nested `planId` (see `listAppointments` populate).",
            "oneOf": [
              { "type": "string" },
              { "type": "object", "additionalProperties": true }
            ]
          },
          "customerId": {
            "description": "After **create**, customer ObjectId string. After **list**, populated subset: `name`, `email`, `phone`, `serviceZone`.",
            "oneOf": [{ "type": "string" }, { "type": "object", "additionalProperties": true }]
          },
          "scheduledDate": { "type": "string" },
          "timeSlot": { "type": "string", "enum": ["morning", "afternoon"] },
          "notes": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["Pending", "Approved", "Completed", "Cancelled"]
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time", "description": "Mongoose `timestamps` field on the appointment document." },
          "approvedAt": { "type": "string", "format": "date-time", "nullable": true },
          "completedAt": { "type": "string", "format": "date-time", "nullable": true },
          "cancelledAt": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "CreateAppointmentResponseRaw": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string" },
          "appointment": { "$ref": "#/components/schemas/Appointment" }
        }
      },
      "AppointmentListResponseRaw": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Appointment" } }
        }
      }
    }
  },
  "tags": [
    { "name": "Public – Slots", "description": "Agent POST with userId; same slot data as GET /api/appointments/slots" },
    { "name": "Protected – Scheduling", "description": "Bearer JWT; customers create their own visits" }
  ]
}
