{
  "openapi": "3.0.3",
  "info": {
    "title": "Brillar Agent Personal API",
    "description": "API documentation for the Agent extraction endpoints. Includes protected routes for fetching user's current plan and order history.",
    "version": "1.0.0",
    "contact": {
      "name": "Brillar API Support",
      "email": "api-support@brillarbroadband.com"
    }
  },
  "servers": [
    {
      "url": "https://api-brillarbroadband.atenxion.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/agent/get-my-plan": {
      "get": {
        "summary": "Get Current Plan",
        "description": "Retrieves the current subscription plan for the authenticated user.",
        "tags": [
          "Protected Endpoints"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer JWT. Format: Bearer <token> (matches security scheme BearerAuth).",
            "schema": {
              "type": "string",
              "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current plan fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/my-order-history": {
      "get": {
        "summary": "Get My Order History",
        "description": "Retrieves all past and present subscriptions (order history) for the authenticated user.",
        "tags": [
          "Protected Endpoints"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer JWT. Format: Bearer <token> (matches security scheme BearerAuth).",
            "schema": {
              "type": "string",
              "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order history fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/buy-plan": {
      "post": {
        "summary": "Buy a New Plan",
        "description": "Purchases a new subscription plan for the authenticated user using the provided plan ID. Extracts userId securely from the JWT token. Do NOT pass userId in the body.",
        "tags": [
          "Protected Endpoints"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer JWT. Format: Bearer <token> (matches security scheme BearerAuth).",
            "schema": {
              "type": "string",
              "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["planId", "cardNumber", "expiryDate", "cvc", "nameOnCard"],
                "properties": {
                  "planId": {
                    "type": "string",
                    "description": "The unique identifier of the plan to purchase (e.g. 'fibre_pro_500')."
                  },
                  "billingTerm": {
                    "type": "string",
                    "enum": ["30", "90", "180", "365"],
                    "description": "Subscription duration in days. Defaults to '30' if omitted.",
                    "default": "30"
                  },
                  "amount": {
                    "type": "number",
                    "description": "The price amount paid for the subscription (for record-keeping only)."
                  },
                  "cardNumber": {
                    "type": "string",
                    "description": "The customer's credit card number (dummy/false data accepted for simulation)."
                  },
                  "expiryDate": {
                    "type": "string",
                    "description": "The credit card expiration date (e.g., MM/YY)."
                  },
                  "cvc": {
                    "type": "string",
                    "description": "The 3 or 4 digit card verification code."
                  },
                  "nameOnCard": {
                    "type": "string",
                    "description": "The full name exactly as it appears on the credit card."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase complete. Subscription status is 'Installation Pending'.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Purchase complete. Your subscription is Installation Pending."
                    },
                    "subscription": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing planId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Not Found - Plan not found or no longer active",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agent/cancel-plan": {
      "post": {
        "summary": "Cancel Active Plan",
        "description": "Cancels the authenticated user's active subscription. If subscriptionId is omitted, the most recent non-cancelled subscription is cancelled. Sets status to 'Cancelled' and endDate to today.",
        "tags": [
          "Protected Endpoints"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer JWT. Format: Bearer <token> (matches security scheme BearerAuth).",
            "schema": {
              "type": "string",
              "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscriptionId": {
                    "type": "string",
                    "description": "Optional. MongoDB _id of the specific subscription to cancel. If omitted, the most recent active subscription is cancelled."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Subscription successfully cancelled."
                    },
                    "subscription": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Not Found - No active subscription found to cancel",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for authentication. Required for protected endpoints."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "monthlyPrice": {
            "type": "number"
          },
          "downloadSpeedMbps": {
            "type": "number"
          },
          "price90Days": {
            "type": "number"
          },
          "price180Days": {
            "type": "number"
          },
          "price365Days": {
            "type": "number"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categoryId": {
            "type": "string"
          },
          "categoryTitle": {
            "type": "string"
          },
          "categorySortOrder": {
            "type": "number"
          },
          "planSortOrder": {
            "type": "number"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Order/Installation status"
          },
          "planStatus": {
            "type": "string",
            "description": "Network access status for the purchased plan",
            "enum": ["active", "blocked", "suspended", "pending"]
          },
          "billingTerm": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "description": "The amount paid at the time of purchase"
          },
          "purchasedPrice": {
            "type": "number",
            "description": "Alias for amount. The price locked in when the user purchased the plan."
          },
          "currentTermPrice": {
            "type": "number",
            "description": "The current retail price for this exact billing term. If this differs from purchasedPrice, the plan price has changed."
          },
          "hasPriceChanged": {
            "type": "boolean",
            "description": "True if the current retail price no longer matches what the user originally paid."
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          }
        }
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Subscription"
          }
        }
      },
      "OrderHistoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Protected Endpoints",
      "description": "APIs requiring Bearer token authentication"
    }
  ]
}
